<a href="https://colab.research.google.com/github/RA2112703010009/PPS/blob/Operations-in-pandas/operation%20in%20pandas%202%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operations in pandas

1. Creating a dataframe using **List**

In [1]:

import pandas as pd
 
fruits = ['apple', 'orange', 'grape', 'watermelon', 
            'mango', 'pineapple', 'strawberry']
 
df = pd.DataFrame(fruits)
print(df)

            0
0       apple
1      orange
2       grape
3  watermelon
4       mango
5   pineapple
6  strawberry

2. Creating DataFrame from dict of ndarray/lists

In [2]:
 
import pandas as pd
 
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}

df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

3. Column Selection

In [6]:

import pandas as pd

data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
df = pd.DataFrame(data)

print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd